.container___2St0O{max-width:1024px;margin-left:auto;margin-right:auto}.card___Go0LJ{background:#fff;margin-bottom:20px;padding:0}.column___5UYsG{background-color:#fff!important}.table___2FDMz .ant-table-thead>tr>th{background:#fff}
.card___1YLeF{background:#fff;margin-bottom:20px;height:100px}.children___1kgBN{display:inline;float:right;margin-top:10px}
