.container___ic-VN{max-width:1024px;margin-left:auto;margin-right:auto}.card___13tMG{background:#fff;margin-bottom:20px;padding:0}.column___1BKEW{background-color:#fff!important}.table___3zkNq .ant-table-thead>tr>th{background:#fff}
.card___1Bqlz{background:#fff;margin-bottom:20px;height:100px}.children___3nGXX{display:inline;float:right;margin-top:10px}
